This workbook is to apply the regex lab to clean the product.csv table

In [120]:
import pandas as pd
import re
import string 

products_path = 'E:\Sebnewrepo\Data/products.csv'
products = pd.read_csv(products_path)

In [69]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [146]:
products.shape

(49688, 4)

In [138]:
# the replacement function
def clean(str):
    m = re.sub(r'\"','', str)
    m = re.sub(r'\\','', m)
    m = re.sub(r'\,','', m)
    return m

In [139]:
# use pandas .apply() function to process records in batch
products['product_name'] = products.product_name.apply(clean)

In [140]:
products.head(10)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7

In [141]:
products.iloc[210:230,:]

,product_id,product_name,aisle_id,department_id
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14
211,212,Organic Blue Corn Sea Salt Tortilla Chips,107,19
212,213,Tapatio Salsa Picante Hot Sauce Tortilla Chips,107,19
213,214,Argan Oil of Morocco Renewing Weightless Heali...,22,11
214,215,Sambal Oelek Ground Fresh Chili Paste,66,6
215,216,Gluten Free Oatmeal Variety Pack,130,14
216,217,String Cheese Mozzarella,108,16
217,218,6 Organic Carrot Cake,8,3
218,219,Totz Toothbrush Extra Soft 18+ Months,82,18
219,220,Tegaderm Waterproof Transparent Dressing,118,11
220,221,Cayenne Lemonade Made With Raw Tristate Honey,31,7
221,222,Honey Nut Oatmeal Squares,121,14
222,223,Kiwi Strawberry Sparkling Water,115,7
223,224,Foaming Hand Soap Kid Watermelon,114,17
224,225,3 Seed Blue Corn Dipping Chips,107,19
225,226,Shaved Parmesan Cheese,21,16
226,227,Triple Chocolate Snack Size,45,19
227,228,Organic Soups Lentil,69,15
228,229,EcoNet Recycled Bath Sponge,109,11
229,230,Vanilla Cream Soda,77,7

In [144]:
products.to_csv('E:\Sebnewrepo\Data\products_cleaned.csv',index = False, header = True)